.grid {
    display: grid;
    grid-template-columns: repeat(5, 150px);
    grid-auto-rows: auto;
    margin-top: 20px;
}
.grid > div{
    background-color: rgb(80, 80, 80);
}
.topContainer{
    position: relative;
    text-align: left;
}
button{
    width: 90px;
    height: 45px;
    font-size: 30px;
}


/*Zusammen fassen? */
.bookTitle {
    width: 300px;
    height: 30px;
    font-size: 30px;
}
.bookAuthor{
    width: 300px;
    height: 30px;
    font-size: 30px;
}
.bookPages{
    width: 300px;
    height: 30px;
    font-size: 30px;
}

/*Zusammen fassen? */
.gridTitle {
    border: .3px black solid;
}
.gridAuthor {
    border: .3px black solid;
}
.gridPages {
    border: .3px black solid;
}
.gridTitle > div {
    border: black solid 1px;
    font-size: 30px;
}
.gridAuthor > div {
    border: black solid 1px;
    font-size: 30px;
}
.gridPages > div {
    border: black solid 1px;
    font-size: 30px;
}

.gridRead {
    border: .3px black solid;
}
.gridRead > div{
    border: black solid 1px;
    font-size: 30px;
}
.checkboxSize{
    height: 20px;
    width: 20px;
}
.childDeleteButton{
    
    height: 20px;
    width: 20px;
    background-color: red;
    color: black;
    display: inline-block;
}
.parentDelete{
    border: black solid 1px;
}
.parentDelete>div{
    border: black solid 1px;
}
