table {
    width: 400px;
}
th {
    text-align: left;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 3px;
    height: 20px;
}
tr:nth-child(even){
    background-color: blue;
}
tr:nth-child(odd){
    background-color: yellow;
}






